<!-- HEADER -->
<section id="header">
  <div class="container">
    <!-- LOGO -->
    <h1 class="logo"><a href="/"><%= locals.title %></a></h1>

    <!-- NAVIGATION -->
    <nav id="nav">
      <ul>
        <li><a class="icon solid fa-home" href="/">Home</a></li>
        <li><a class="icon solid fa-sitemap" href="/about">Sobre</a></li>
        <li><a class="icon solid fa-sitemap" href="/admin">Login</a></li>
      </ul>
    </nav>
  </div>
</section>
