<!-- BANNER -->
<section id="banner">
  <div class="container">
    <p>
      <%= locals.description1 %> <br />
      <%= locals.description2 %>
    </p>
  </div>
</section>

<section id="main">
  <div class="container">
    <h1>This is the about page...</h1>
  </div>
</section>
