<!-- BANNER -->
<section id="banner">
  <div class="container">
    <p><%= locals.description1 %></p>
  </div>
</section>

<!-- MAIN SINGLE POST -->
<div class="container">
  <div id="content">
    <!-- POST -->
    <article class="box post">
      <header>
        <h2><%= data.title %></h2>
      </header>
      <span class="image featured"><img src="images/pic04.jpg" alt="" /></span>
      <p class="blog_text"><%= data.body %></p>
    </article>
  </div>
</div>
